:root{
    --font: 'Poppins', sans-serif;
    --shadows: #c6c6c6;
    --bold: #000000;
    --italic: #fff;
    --background: var(--bg-white);
    --foreground: var(--fg-black);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    line-height: 1.5em;
    font-size: 1rem;
}

body{
    background-color: var(--background);
    color: var(--foreground);
    font-size: 1rem;
    font-family: var(--font);
}

table{
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.btn{
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 20px;
    transition: 0.2s linear;
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.hr1, .hr2, .hr3, .hr4, .hr5, .hr6{
    border: 1px solid;
    border-radius: 50px;
    margin: 10px auto;
}

.hr1{ height: 0.5em; }
.hr2{ height: 0.4em; }
.hr3{ height: 0.3em; }
.hr4{ height: 0.25em; }
.hr5{ height: 0.2em; }
.hr6{ height: 0.1em; }

.hr-sm{ width: 25%; }
.hr-mid{ width: 50%; }
.hr-lg{ width: 75%; }
.hr-full{ width: 100%; }

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out 0s;
}

.box{
    background-color: white;
    box-shadow: 0px 2px 10px 1px var(--shadows);
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
}
.back{
    width: fit-content;
    color: white;
    background-color: var(--bg-black);
    padding: 10px 20px;
}

.flex-rows{
    display: flex;
    flex-direction: row;
}

.flex-rows-r{
    display: flex;
    flex-direction: row-reverse;
}

.flex-columns{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-columns-r{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.round-label{
    color: white;
    background-color: var(--orange);
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 50px auto 10px auto;
    font-weight: bold;
    border-radius: 5px;
}
